body {

background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRoIhrjVELQR9vEtaEXQvNtVtwukD5DG5C3GF0jg7ho-_FQuDr);
background-size: cover;
content: "";
display: block;

position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -2;
opacity: 0.2;

}